@inherits LayoutComponentBase

<div class="page">
    <main>
        <div class="top-row px-4 d-flex justify-content-between align-items-center border-bottom bg-white shadow-sm" style="z-index: 1500;">
            <div class="d-flex align-items-center" style="flex-shrink: 0;">
                <img src="https://www.eve-rave.ch/wp-content/uploads/2016/05/Logo_mitBild.png"
                     alt="eve&rave Logo"
                     class="img-fluid me-3"
                     style="height: auto; max-height: 80px;" />
            </div>

            <div class="d-flex flex-grow-1 justify-content-start align-items-center navigation-container">
                <Navigation />
            </div>

            <div class="d-flex align-items-center" style="flex-shrink: 0; margin-left: 8px;">
                <NavLink class="btn btn-outline-primary rounded-circle d-flex justify-content-center align-items-center p-0" 
                         id="search-button"
                         href="/search"
                         style="width: 40px; height: 40px; margin-right: 8px">
                    <i class="bi bi-search"></i>
                </NavLink>
                <Account/>
            </div>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
