@using everave.server.Components.Common
@inject IGitHubAccess GitHubAccess

<h3>Vulnerable Dependencies</h3>

<ForeignAccess Access="GitHubAccess" Title="GitHub zugang">
    @if (alerts == null)
    {
        <p>Loading...</p>
    }
    else if (!alerts.Any())
    {
        <p>✅ No known vulnerabilities</p>
    }
    else
    {
        foreach (var dependabotAlert in alerts)
        {
            <AlertView Alert="dependabotAlert" />
        }
    }
</ForeignAccess>

@code {
    private List<DependabotAlert>? alerts;

    protected override async Task OnInitializedAsync()
    {
        if (!GitHubAccess.IsEnabled)
            return;

        alerts = await GitHubAccess.GetDependabotAlertsAsync();
    }
}