@page "/admin"
@using everave.server.Components.GitHub
@using everave.server.Components.AzureDeployment
@using everave.server.UserManagement
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Roles = ApplicationUser.AdminRole)]


<h3>Admin Panel</h3>

<Deployment/>
<SecurityView/>
<MaintenanceView />
