@page "/forum/{id}"
@rendermode InteractiveServer
@using everave.server.Forum
@using MongoDB.Bson
@using Microsoft.AspNetCore.Components.Authorization
@inject IForumService ForumService
@inject NavigationManager NavigationManager

<h3>@forum?.Name</h3>

@if (topics == null)
{
    <p>Loading...</p>
}
else
{
    <div class="card mb-4 shadow-sm">
        <div class="card-header bg-primary text-white d-flex justify-content-between align-items-center">
            <h5 class="mb-0">Thema</h5>
            <AuthorizeView>
                <button class="btn btn-sm btn-light" @onclick="NavigateToAddTopic">Neues Thema</button>
            </AuthorizeView>
        </div>
        <div class="card-body p-0">
            <table class="table table-hover mb-0">
                <thead class="table-light">
                    <tr>
                        <th>Name</th>
                        <th style="width: 15%;">Entries</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var topic in topics)
                    {
                        <tr>
                            <td>
                                <a href="@($"/topic/{topic.Id}")" class="fw-bold text-decoration-none">
                                    @topic.Title
                                </a><br />
                                <small class="text-muted">@topic.CreatedAt</small>
                            </td>
                            <td>@topic.NumberOfEntries</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}

@code {
    [Parameter]
    public string id { get; set; } = default!;

    private Forum? forum;
    private List<Topic>? topics;

    protected override async Task OnInitializedAsync()
    {
        var forumId = ForumId;
        forum = await ForumService.GetForumAsync(forumId);
        topics = await ForumService.GetTopicsByForumIdAsync(forumId);
    }

    private ObjectId ForumId => new(id);

    private void NavigateToAddTopic()
    {
        NavigationManager.NavigateTo($"/forum/{id}/add-topic");
    }
}
